# KNN

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import pickle
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier


# environment settings
data_path = 'Data/'

# Deserialize previously saved data from "preprocessing"
with open(data_path+'train_pp.obj', 'rb') as train_pp, \
open(data_path+'test_pp.obj','rb') as test_pp:
    train_df = pickle.load(train_pp)
    test_df = pickle.load(test_pp)

In [15]:
#Separate training set from target variables
X_train = train_df.drop("Survived", axis=1)
y_train = train_df["Survived"]

X_train.drop(["PassengerId","Embarked_Q","Embarked_S"],axis=1)

    Pclass  Sex        Age  SibSp  Parch      Fare  Title
0        3    0  22.000000      1      0    7.2500      6
1        1    1  38.000000      1      0   71.2833      1
2        3    1  26.000000      0      0    7.9250      2
3        1    1  35.000000      1      0   53.1000      1
4        3    0  35.000000      0      0    8.0500      6
5        3    0  21.222694      0      0    8.4583      6
6        1    0  54.000000      0      0   51.8625      6
7        3    0   2.000000      3      1   21.0750      3
8        3    1  27.000000      0      2   11.1333      1
9        2    1  14.000000      1      0   30.0708      1
10       3    1   4.000000      1      1   16.7000      2
11       1    1  58.000000      0      0   26.5500      2
12       3    0  20.000000      0      0    8.0500      6
13       3    0  39.000000      1      5   31.2750      6
14       3    1  14.000000      0      0    7.8542      2
15       2    1  55.000000      0      0   16.0000      1
16       3    0   2.000000      4      1   29.1250      3
17       2    0  29.594867      0      0   13.0000      6
18       3    1  31.000000      1      0   18.0000      1
19       3    1   1.494390      0      0    7.2250      1
20       2    0  35.000000      0      0   26.0000      6
21       2    0  34.000000      0      0   13.0000      6
22       3    1  15.000000      0      0    8.0292      2
23       1    0  28.000000      0      0   35.5000      6
24       3    1   8.000000      3      1   21.0750      2
25       3    1  38.000000      1      5   31.3875      1
26       3    0  26.502591      0      0    7.2250      6
27       1    0  19.000000      3      2  263.0000      6
28       3    1   6.900979      0      0    7.8792      2
29       3    0  26.995207      0      0    7.8958      6
..     ...  ...        ...    ...    ...       ...    ...
861      2    0  21.000000      1      0   11.5000      6
862      1    1  48.000000      0      0   25.9292      1
863      3    1  37.312272      8      2   69.5500      2
864      2    0  24.000000      0      0   13.0000      6
865      2    1  42.000000      0      0   13.0000      1
866      2    1  27.000000      1      0   13.8583      2
867      1    0  31.000000      0      0   50.4958      6
868      3    0  14.288204      0      0    9.5000      6
869      3    0   4.000000      1      1   11.1333      3
870      3    0  26.000000      0      0    7.8958      6
871      1    1  47.000000      1      1   52.5542      1
872      1    0  33.000000      0      0    5.0000      6
873      3    0  47.000000      0      0    9.0000      6
874      2    1  28.000000      1      0   24.0000      1
875      3    1  15.000000      0      0    7.2250      2
876      3    0  20.000000      0      0    9.8458      6
877      3    0  19.000000      0      0    7.8958      6
878      3    0  24.102814      0      0    7.8958      6
879      1    1  56.000000      0      1   83.1583      1
880      2    1  25.000000      0      1   26.0000      1
881      3    0  33.000000      0      0    7.8958      6
882      3    1  22.000000      0      0   10.5167      2
883      2    0  28.000000      0      0   10.5000      6
884      3    0  25.000000      0      0    7.0500      6
885      3    1  39.000000      0      5   29.1250      1
886      2    0  27.000000      0      0   13.0000      7
887      1    1  19.000000      0      0   30.0000      2
888      3    1  38.021663      1      2   23.4500      2
889      1    0  26.000000      0      0   30.0000      6
890      3    0  32.000000      0      0    7.7500      6

[891 rows x 7 columns]

### Model Building

In [16]:
kfold = model_selection.KFold(n_splits=10, shuffle = True, random_state=7)
model = KNeighborsClassifier(n_neighbors=5)
results = cross_val_score(model, X_train, y_train, cv=kfold)
print("10-fold cross validation average accuracy: %.3f" % (results.mean()))

10-fold cross validation average accuracy: 0.650