# Naive Bayes

In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB 
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import pickle

# Environment settings
data_path = 'Data/'

# Deserialize previously saved data from "preprocessing"
with open(data_path+'train_pp.obj', 'rb') as train_pp, \
open(data_path+'test_pp.obj', 'rb') as test_pp:
    df_train = pickle.load(train_pp)
    df_test = pickle.load(test_pp)

df_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,Title
0,1,False,3,0,1,1,0,0.014151,0,1,6
1,2,True,1,1,4,1,0,0.139136,0,0,1
2,3,True,3,1,2,0,0,0.015469,0,1,2
3,4,True,1,1,3,1,0,0.103644,0,1,1
4,5,False,3,0,3,0,0,0.015713,0,1,6

In [2]:
feature = ['PassengerId','Survived','Parch', 'Embarked_Q', 'Embarked_S']
train_feature = df_train.drop(feature, axis=1)
train_target = df_train["Survived"]

In [3]:
#prepare taining set
X_train, X_test, y_train, y_test = train_test_split(train_feature ,train_target, random_state=1, test_size=0.20)

In [4]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred= gnb.predict(X_test)

In [5]:
#accuracy
accuracy_score (y_test, y_pred)

0.7821229050279329

In [6]:
# Cross-validation score
cv_iterations = 10
cv_score = cross_val_score(gnb, train_feature, train_target, cv=cv_iterations)
print('Accuracy with cross-validation (split size = {}): {} (+/- {})'
      .format(cv_iterations, round(cv_score.mean(),2), round(cv_score.std() * 2,2)))

Accuracy with cross-validation (split size = 10): 0.8 (+/- 0.05)

In [7]:
# Prediction on test set
dv_test_X = df_test.drop(['PassengerId','Parch', 'Embarked_Q', 'Embarked_S'], axis=1).values

test_prediction_results = pd.DataFrame(
    data={'PassengerId': df_test['PassengerId'].values,
          'Survived': gnb.predict(dv_test_X).astype(int)})

# Write results to a csv file
test_prediction_results.to_csv(data_path+'outputs/naive-bayes.csv', index=False)